<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="postlounge">
	<!-- 제목, 내용 키워드로 검색 (조회수 순으로?) -->
	<!-- POSTS, LIKES, MEMBERS 테이블 조인 -->
	<select id="searchList" parameterType="String" resultType="postListVO">
		SELECT P.POST_IDX, P.POST_TYPE, P.TITLE, P.POST_CONTENT
    		, P.POST_PHOTO, M.NAME, P.HIT, L.LIKE_NUM
   			, P.POST_DATE
		FROM POSTS P, LIKES L, MEMBERS M
		WHERE P.POST_IDX = L.POST_IDX
		AND P.MEMBER_IDX = M.MEMBER_IDX
		AND TITLE LIKE '%' || #{keyword} || '%'
		OR POST_CONTENT LIKE '%' || #{keyword} || '%'
		ORDER BY HIT
	</select>
	
	<!-- 전체 게시글 개수 조회 -->
	<select id="totalCount" resultType="int">
		SELECT COUNT(*) AS CNT FROM POSTS
	</select>
	
	<!-- 회원가입 -->
	<insert id="insert" parameterType="memberVO">
		INSERT INTO MEMBERS (MEMBER_IDX, NAME, ID, PWD
				, NICKNAME, MEMBER_PHOTO)
		VALUES (MEMBER_SEQ.NEXTVAL, #{name}, #{id}, #{pwd}
				, #{nickname}, #{memberPhoto})
	</insert>
	
	<!-- id로 조회 -->
	<select id="one" parameterType="string" resultType="memberVO">
		SELECT MEMBER_IDX, NAME, ID, PWD, NICKNAME, MEMBER_PHOTO
		FROM MEMBERS
		WHERE ID = #{id}
	</select>
  
  	<!-- 로그인 -->
	<select id="login" parameterType="memberVO" resultType="memberVO">
		SELECT MEMBER_IDX, NAME, ID, PWD, NICKNAME, MEMBER_PHOTO
		FROM MEMBERS
		WHERE ID = #{id}
		AND PWD = #{pwd} 
	</select>  
	
	<!-- (메인)게시물 불러오기 (조회수 순으로) -->
	<select id="getPostList" resultType="postListVO">
		SELECT P.POST_IDX, P.POST_TYPE, P.TITLE, P.POST_CONTENT
		    , P.POST_PHOTO, M.NAME, P.HIT, L.LIKE_NUM
		    , P.POST_DATE
		FROM POSTS P, LIKES L, MEMBERS M
		WHERE P.POST_IDX = L.POST_IDX
		AND P.MEMBER_IDX = M.MEMBER_IDX
		ORDER BY HIT
	</select>
	
	<!-- 글 상세보기(세부내용 가져오기) -->
	<select id="selectOne" parameterType="int" resultType="postListVO">
		SELECT P.POST_IDX, P.POST_TYPE, P.TITLE, P.POST_CONTENT
		    , P.POST_PHOTO, M.NAME, P.HIT, L.LIKE_NUM
		    , P.POST_DATE
		FROM POSTS P, LIKES L, MEMBERS M
		WHERE P.POST_IDX = L.POST_IDX
		AND P.MEMBER_IDX = M.MEMBER_IDX
	</select>
	
	<!-- 글쓰기 -->
	<insert id="insertPost" parameterType="postVO">
		INSERT INTO POSTS (
            POST_IDX, TITLE, POST_CONTENT, POST_PHOTO
            POST_TYPE, MEMBER_IDX)
		VALUES (
		    POST_SEQ.NEXTVAL, #{postTitle}, #{postContent}, #{postPhoto},
		    #{postType}, 
		    (SELECT MEMBER_IDX FROM MEMBERS WHERE MEMBER_IDX = )      
		)
	</insert>
	
	<!-- 세션에서 MemberIdx값 가져오기 -->
	<select id="selectMemberIdx" resultType="int">
        SELECT MEMBER_IDX 
        FROM MEMBERS 
        WHERE ID = #{id} 
        AND PASSWORD = #{password}
    </select>
	
</mapper>